* {
    margin: 0;
    padding: 0;
}

p#atual {
    animation: atual 2.8s ease;
}

@keyframes cad {
    from {
        transform: translateX(-250px);  
    }
    to {
        transform: translateX(0px);  
    }
}
@keyframes atual {
    from {
        transform: translateY(150px);
    }
    to {
        transform: translateY(0px);
    }
}